
body {
    margin-top: 60px;
}

header {
    border-bottom: 1px solid #d5d5d5;
}

nav ul,
footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}

body nav ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li {
    display: inline;
    text-align: left;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
}


footer > p {
    font-size: .8em;
}

img.avatar {
    margin-bottom: 30px;
}