<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- link to bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{ page.title }}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/currentProjects">Current Projects</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    {% include footer.html %}
</body>

</html>
